@-webkit-keyframes weekBounceIn {
  0%,
  50%,
  100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0.5;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes weekBounceIn {
  0%,
  50%,
  100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0.5;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.weeks {
  box-sizing: border-box;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #0b4046;
  color: #fff;
}
.weeks * {
  box-sizing: border-box;
}
.weeks input {
  box-sizing: border-box;
  border-radius: 0;
  width: 100%;
  border: none;
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  color: #fff;
  line-height: 1;
}
.weeks .week-content {
  width: 100%;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  text-align: center;
}
.weeks .week-content .week-week {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  line-height: 1;
  font-size: 100px;
  text-align: center;
  margin-bottom: 5px;
}
.weeks .week-content .week-date,
.weeks .week-content .week-year {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
}
.weeks .week-content .week-info {
  margin-top: 10px;
  font-size: 12px;
}
.weeks .week-bounce-in {
  -webkit-animation-name: weekBounceIn;
  animation-name: weekBounceIn;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
